<header class="border-bottom border-dark text-center p-2">user_id</header>
    <div class="container-fluid d-flex justify-content-between text-center p-2">
        <p class="border-bottom border-dark d-inline">02-11-2021</p>
        <p class="border-bottom border-dark d-inline">body</p>
        <p class="border-bottom border-dark d-inline">zip_code</p>
    </div>